In [0]:
import numpy as np
import pandas as pd

In [0]:
% pwd

'/content'

In [0]:
% ls

housing_test.csv  housing_train.csv  sample_data/

In [0]:
test = pd.read_csv('https://mettl-arq.s3-ap-southeast-1.amazonaws.com/questions/jp-morgan/housing/housing_test.csv')
train = pd.read_csv('https://mettl-arq.s3-ap-southeast-1.amazonaws.com/questions/jp-morgan/housing/housing_train.csv')

In [4]:
train.head()

    TID        Date Property Type  ...  Postcode   Price Price Category
0  1000  2018-01-01             F  ...   EL4 2BO    80.0              B
1  1001  2018-01-01             T  ...  NB09 6VZ   218.5              A
2  1002  2018-01-01             D  ...  ZK01 0XF   250.0              A
3  1003  2018-01-01             O  ...   EB1 3HI  6050.0              B
4  1004  2018-01-01             T  ...   CE4 6WU   182.0              A

[5 rows x 15 columns]

In [0]:
train = train.replace(['A', 'B'], [1, 0])
train = train.replace(['Y', 'N'], [1, 0])
train = train.replace(['L', 'F'], [1, 0])
train = train.replace(['D', 'S','T','F','O'], [0,1,2,3,4])

In [6]:
train.isnull().sum()

TID                     0
Date                    0
Property Type           0
OldvNew                 0
Duration                0
AddressLine1            0
AddressLine2      1054500
Street              22612
Locality           760895
Town                    0
Taluka                  0
District                0
Postcode             5778
Price                   0
Price Category          0
dtype: int64

In [7]:
test.isnull().sum()

TID               0
Date              0
Property Type     0
OldvNew           0
Duration          0
AddressLine1      0
AddressLine2      0
Street            0
Locality          0
Town              0
Taluka            0
District          0
Postcode          0
Price Category    0
dtype: int64

In [8]:
train.groupby('Taluka').size()

Taluka
BABMBK                       2745
BCCRLJ VYKBXM                2511
BCXYN ULF BZBEE              1388
BENHKRFJB                    2787
BFBL                         1402
BKBZUXO                      2566
BLVRBEF                      3781
BUERLJ                       4211
BUXM ERLFXBQ                 3671
BUXM FBPYL                   4071
BUXM FYKXBM                  1869
BUXM KRFRLJ YV QYKGXORKB     9142
BUXM LYKMOUNCMYLXORKB        2248
BUXM OBKMVYKFXORKB           3373
BUXM OUNCXORKB               2892
BUXM SUNHKRFJBXORKB          1929
BUXM XMUVVYKFXORKB           3062
BUXM XWVVYEG                  283
BUXMEBRJO                    3309
BUXMHYWKLB                   2409
CBLFEB                       2055
CBNHKYGBXORKB                2956
CKBXMYL                      3264
CWKHBSG                      1008
CYKMXNYWMO                   4372
CYYEB                        3590
CYZQX                        2684
EBBFX                       17171
EBRSBXMBK                    4998
EBZBX                        2198
                            ...
ZBXM FYKXBM                  2459
ZBXM HBKGXORKB               3049
ZBXM XWVVYEG                  237
ZBXM XYNBKXBM                 815
ZBXM YAVYKFXORKB             2469
ZKBAOUN                      2286
ZKBGRL                       3929
ZQKB                         2872
ZQKB VYKBXM                  2111
ZQSOUPYL                     3202
ZQSYNHB                      3275
ZREMXORKB                   10920
ZRJUL                        7495
ZRKKUE                       6838
ZRLFXYK ULF NURFBLOBUF       2643
ZRLSOBXMBK                   2451
ZUEMOUN VYKBXM               4065
ZUEXUEE                      4603
ZUGBVRBEF                    7963
ZUKKRLJMYL                   4154
ZUKZRSG                      3369
ZULFXZYKMO                   6435
ZUMVYKF                      1668
ZUPBKEBQ                     2624
ZUPBLBQ                      2611
ZYEPBKOUNCMYL                4155
ZYGRLJ                       2135
ZYGRLJOUN                    3869
ZYKMORLJ                     2806
ZYKSBXMBK                    2293
Length: 353, dtype: int64

In [9]:
train.groupby('Town').size()

Town
BABMBK               4000
BANYWMO               928
BCCRLJ                462
BCXYN                1424
BEEBXNBKB             168
BEEBXNBKB CYKM       1402
BEEULF                213
BEQ                  1557
BFBLHKRFJB            267
BFJZUKB               580
BHHZ PUEB             593
BJKBNYLM              160
BJOUN                 387
BKRMO                 620
BLVRBEF              1801
BMSORLJOUN             98
BNXZYKMO              358
BPBXOUN              1181
BQB                   222
BUXM HYEFYL           125
BUXM JKRLXMBUF        817
BUXM NYEBXBQ          176
BUXM SYZBX            276
BUXMEBRJO            1744
BUXMHYWKLB           2599
BXOBK                 374
CBKKULCYKMO           135
CBKXOYKB              498
CBLIULSB              882
CBLKOQLFBWFKUBMO       41
                     ...
ZUFBHKRFJB            409
ZUFOWKXM              188
ZUGBVRBEF            3725
ZUKB                  791
ZUKBOUN               386
ZUKERLJOUN            238
ZUKKRLJMYL           4613
ZUKNRLXMBK            603
ZUKZRSG              1647
ZULMUJB               650
ZUMBKEYYPREEB        1708
ZUMERLJMYL             63
ZUMSOBM               169
ZUMVYKF              2161
ZUXORLJMYL            808
ZYEPBKOUNCMYL        4786
ZYGRLJ               2303
ZYGRLJOUN            1502
ZYKGRLJMYL            714
ZYKGXYC              1461
ZYKMORLJ             2986
ZYKSBXMBK            3360
ZYKSBXMBK CUKG        496
ZYMMYL-WLFBK-BFJB     289
ZYYEBK                 47
ZYYEUSYNHB             88
ZYYFHKRFJB           1062
ZYYFOUEE XCU          152
ZYYFVYKF JKBBL        544
ZYYFXMYSG             109
Length: 1147, dtype: int64

In [10]:
train.groupby('District').size()

District
BUXM KRFRLJ YV QYKGXORKB                9142
BUXM XWXXBA                            12953
BXXBA                                  32299
CBNHKYGBXORKB                           2956
CYKMXNYWMO                              4372
CYYEB                                   3590
CYZQX                                   2684
EBRSBXMBK                               4998
EBRSBXMBKXORKB                         16923
ERLSYELXORKB                           18594
EULSUXORKB                             28763
EWMYL                                   3530
FBKHQXORKB                             18866
FBLHRJOXORKB                            2094
FBPYL                                  20547
FUKERLJMYL                              2323
FYKXBM                                 10279
GBLM                                   34255
HBFVYKF                                 3853
HEUBLUW JZBLM                           1307
HEUSGCYYE                               3521
HEUSGHWKL ZRMO FUKZBL                   2617
HKRFJBLF                                3254
HKRJOMYL ULF OYPB                       5393
HKUSGLBEE VYKBXM                        2577
HUMO ULF LYKMO BUXM XYNBKXBM            4229
HWSGRLJOUNXORKB                        10926
HYWKLBNYWMO                             4571
HYWKLBNYWMO, SOKRXMSOWKSO ULF CYYEB      519
JEYWSBXMBKXORKB                        15669
                                       ...
SYLZQ                                   2973
SYWLMQ FWKOUN                          11650
VERLMXORKB                              3184
XEYWJO                                  2123
XMUVVYKFXORKB                          19302
XMYGB-YL-MKBLM                          5775
XMYSGMYL-YL-MBBX                        4467
XOKYCXORKB                              7481
XWKKBQ                                 23480
XWVVYEG                                16670
XYNBKXBM                               13419
XYWMO JEYWSBXMBKXORKB                   6218
XYWMO QYKGXORKB                        27375
XYWMOBLF-YL-XBU                         4366
XYWMOUNCMYL                             5226
XZRLFYL                                 5627
XZULXBU                                 4716
YAVYKFXORKB                            14205
ZBXM HBKGXORKB                          3049
ZBXM NRFEULFX                          50026
ZBXM QYKGXORKB                         49254
ZBXM XWXXBA                            20002
ZKBAOUN                                 2286
ZKBGRL                                  3929
ZREMXORKB                              10920
ZRLFXYK ULF NURFBLOBUF                  2643
ZUKKRLJMYL                              4154
ZUKZRSGXORKB                           14424
ZYGRLJOUN                               3869
ZYKSBXMBKXORKB                         13656
Length: 113, dtype: int64

In [12]:
pd.isnull(train['Price']).any().nonzero()[0]

array([], dtype=int64)

In [13]:
null_columns=train.columns[train.isnull().any()]
print(train[train["Price"].isnull()][null_columns])

Empty DataFrame
Columns: [AddressLine2, Street, Locality, Postcode]
Index: []

In [14]:
print(train[train["Price Category"].isnull()][null_columns])
print(train[train["Town"].isnull()][null_columns])
print(train[train["Taluka"].isnull()][null_columns])
print(train[train["District"].isnull()][null_columns])

Empty DataFrame
Columns: [AddressLine2, Street, Locality, Postcode]
Index: []
Empty DataFrame
Columns: [AddressLine2, Street, Locality, Postcode]
Index: []
Empty DataFrame
Columns: [AddressLine2, Street, Locality, Postcode]
Index: []
Empty DataFrame
Columns: [AddressLine2, Street, Locality, Postcode]
Index: []

In [0]:
#train.drop(458451,axis=0,inplace=True)

In [16]:
train.isnull().sum()

TID                     0
Date                    0
Property Type           0
OldvNew                 0
Duration                0
AddressLine1            0
AddressLine2      1054500
Street              22612
Locality           760895
Town                    0
Taluka                  0
District                0
Postcode             5778
Price                   0
Price Category          0
dtype: int64

In [17]:
train.shape

(1219110, 15)

In [0]:
train = train.astype({'AddressLine1':'category','AddressLine2':'category','Street':'category','Locality':'category','Town':'category','Taluka':'category','District':'category','Postcode':'category'})
test = test.astype({'AddressLine1':'category','AddressLine2':'category','Street':'category','Locality':'category','Town':'category','Taluka':'category','District':'category','Postcode':'category'})

In [19]:
train.dtypes

TID                  int64
Date                object
Property Type        int64
OldvNew              int64
Duration             int64
AddressLine1      category
AddressLine2      category
Street            category
Locality          category
Town              category
Taluka            category
District          category
Postcode          category
Price              float64
Price Category       int64
dtype: object

In [20]:
test.dtypes

TID                  int64
Date                object
Property Type       object
OldvNew             object
Duration            object
AddressLine1      category
AddressLine2      category
Street            category
Locality          category
Town              category
Taluka            category
District          category
Postcode          category
Price Category      object
dtype: object

In [0]:
train['Month'] = train.apply(lambda row: int(row[1].split("-")[1]), axis = 1)
train['Date'] = train.apply(lambda row: int(row[1].split("-")[2]), axis = 1)

In [23]:
train.head()

    TID  Date  Property Type  OldvNew  ...  Postcode   Price Price Category Month
0  1000     1              0        0  ...   EL4 2BO    80.0              0     1
1  1001     1              2        1  ...  NB09 6VZ   218.5              1     1
2  1002     1              0        0  ...  ZK01 0XF   250.0              1     1
3  1003     1              4        0  ...   EB1 3HI  6050.0              0     1
4  1004     1              2        0  ...   CE4 6WU   182.0              1     1

[5 rows x 16 columns]

In [0]:
test['Month'] = test.apply(lambda row: int(row[1].split("-")[1]), axis = 1)
test['Date'] = test.apply(lambda row: int(row[1].split("-")[2]), axis = 1)

In [0]:
test = test.replace(['A', 'B'], [1, 0])
test = test.replace(['Y', 'N'], [1, 0])
test = test.replace(['L', 'F'], [1, 0])
test = test.replace(['D', 'S','T','F','O'], [0,1,2,3,4])

In [26]:
test.head()

       TID  Date  Property Type  ...  Postcode  Price Category Month
0  1226697     1              0  ...  NG09 2CU               1     4
1  1226784     1              1  ...  CY57 9KF               1     4
2  1226816     1              0  ...   H52 8BM               1     4
3  1226838     1              0  ...  HX60 5JJ               1     4
4  1226845     1              0  ...    L3 3BM               1     4

[5 rows x 15 columns]

In [27]:
train.groupby('Locality').size()

Locality
BABEHQ                             7
BABHKRFJB                          4
BABMBK HWXRLBXX CUKG               2
BABMBK KYUF RLFWXMKRUE BXMUMB      5
BABMBK URKCYKM                     2
BAHWKQ                             3
BAHYWKLB                           7
BALRLJ                            51
BAMYL                             24
BANRLXMBK                         97
BAOUEE                            95
BAVYKF                             8
BCCBKXMYLB                         8
BCCEBHQ                            7
BCCRLJ JKBBL                      11
BCCRLJ WCEULF                      1
BCXYN FYZLX                        8
BCZBEE                             2
BCZYKMO                          115
BEBRJOZUMBK                        2
BEEBE                              3
BEEBKFRLB                          7
BEEBKGBK                           8
BEEBKHBSG                          2
BEEBKHQ                            1
BEEBKMYL                           8
BEEBLHYKYWJO                      10
BEEBLX JKBBL                       2
BEEBXHYKYWJO                       1
BEERLJMYL                         49
                                ...
ZYYFVYKF OUEXB                   137
ZYYFX JKBBL                        2
ZYYFXBMMX                         27
ZYYFXBMMYL                        31
ZYYFXBUPBX                        26
ZYYFXCBBL                          1
ZYYFXMYL                          50
ZYYFXMYLB PREEUJB                 10
ZYYFXMYSG                          1
ZYYFXRFB                          45
ZYYFXRFB BXMUMB                    1
ZYYFXRFB CUKG                      5
ZYYFZUEMYL                         5
ZYYGBQ                            16
ZYYGBQ OYEB                       17
ZYYHWKL JKBBL                    105
ZYYHWKL MYZL                       2
ZYYHWKL NYYK                       7
ZYYHWKL RLFWXMKRUE CUKG            1
ZYYKB                             35
ZYYLMYL                            5
ZYYMMYL                          559
ZYYMMYL HKRFJB                   106
ZYYMMYL KRPBKX                     6
ZYYMMYL SYWKMBLUQ                  5
ZYYMMYL VRMICURLB                  4
ZYYMMYL XM EUZKBLSB                1
ZYYMMYL ZUZBL                     17
ZYYVVBKMYL                         1
ZYYXBOREE                          5
Length: 17225, dtype: int64

In [0]:
train_x = train.drop(['AddressLine1','AddressLine2','Street','Postcode'],axis=1)
test_x = test.drop(['AddressLine1','AddressLine2','Street','Postcode'],axis=1)

In [29]:
train_x.head()

    TID  Date  Property Type  ...   Price  Price Category Month
0  1000     1              0  ...    80.0               0     1
1  1001     1              2  ...   218.5               1     1
2  1002     1              0  ...   250.0               1     1
3  1003     1              4  ...  6050.0               0     1
4  1004     1              2  ...   182.0               1     1

[5 rows x 12 columns]

In [0]:
locality = train_x['Locality']

In [0]:
train_x_nloc = train_x.drop(['Locality'],axis=1) #no locality details

In [0]:
train_y_nloc = train_x_nloc['Price']

In [0]:
train_x_nloc = train_x_nloc.drop(['Price'],axis=1)

In [0]:
train_x=train_x.dropna()

In [0]:
train_y = train_x['Price'] #no locality info

In [0]:
train_x = train_x.drop(['Price'],axis=1)

In [37]:
train_x.head()

     TID  Date  ...  Price Category  Month
5   1005     1  ...               0      1
6   1006     1  ...               1      1
10  1010     1  ...               1      1
15  1015     1  ...               0      1
16  1016     1  ...               1      1

[5 rows x 11 columns]

In [38]:
train_x.shape

(458215, 11)

In [39]:
train_x.dtypes

TID                  int64
Date                 int64
Property Type        int64
OldvNew              int64
Duration             int64
Locality          category
Town              category
Taluka            category
District          category
Price Category       int64
Month                int64
dtype: object

In [41]:
train_x.groupby('Locality').size()

Locality
BABEHQ                             7
BABHKRFJB                          4
BABMBK HWXRLBXX CUKG               2
BABMBK KYUF RLFWXMKRUE BXMUMB      5
BABMBK URKCYKM                     2
BAHWKQ                             3
BAHYWKLB                           7
BALRLJ                            51
BAMYL                             24
BANRLXMBK                         97
BAOUEE                            95
BAVYKF                             8
BCCBKXMYLB                         8
BCCEBHQ                            7
BCCRLJ JKBBL                      11
BCCRLJ WCEULF                      1
BCXYN FYZLX                        8
BCZBEE                             2
BCZYKMO                          115
BEBRJOZUMBK                        2
BEEBE                              3
BEEBKFRLB                          7
BEEBKGBK                           8
BEEBKHBSG                          2
BEEBKHQ                            1
BEEBKMYL                           8
BEEBLHYKYWJO                      10
BEEBLX JKBBL                       2
BEEBXHYKYWJO                       1
BEERLJMYL                         49
                                ...
ZYYFVYKF OUEXB                   137
ZYYFX JKBBL                        2
ZYYFXBMMX                         27
ZYYFXBMMYL                        31
ZYYFXBUPBX                        26
ZYYFXCBBL                          1
ZYYFXMYL                          50
ZYYFXMYLB PREEUJB                 10
ZYYFXMYSG                          1
ZYYFXRFB                          45
ZYYFXRFB BXMUMB                    1
ZYYFXRFB CUKG                      5
ZYYFZUEMYL                         5
ZYYGBQ                            16
ZYYGBQ OYEB                       17
ZYYHWKL JKBBL                    105
ZYYHWKL MYZL                       2
ZYYHWKL NYYK                       7
ZYYHWKL RLFWXMKRUE CUKG            1
ZYYKB                             35
ZYYLMYL                            5
ZYYMMYL                          559
ZYYMMYL HKRFJB                   106
ZYYMMYL KRPBKX                     6
ZYYMMYL SYWKMBLUQ                  5
ZYYMMYL VRMICURLB                  4
ZYYMMYL XM EUZKBLSB                1
ZYYMMYL ZUZBL                     17
ZYYVVBKMYL                         1
ZYYXBOREE                          5
Length: 17225, dtype: int64

In [42]:
test_x.head()

       TID  Date  ...  Price Category  Month
0  1226697     1  ...               1      4
1  1226784     1  ...               1      4
2  1226816     1  ...               1      4
3  1226838     1  ...               1      4
4  1226845     1  ...               1      4

[5 rows x 11 columns]

In [0]:
train_x = train_x.drop(['TID'],axis=1)
test_x = test_x.drop(['TID'],axis=1)

In [0]:
train_x['Locality'] = train_x.apply(lambda row: str(row[4].split(" ")[0]), axis = 1)

In [0]:
test_x['Locality'] = test_x.apply(lambda row: str(row[4].split(" ")[0]), axis = 1)

In [0]:
test_x = test_x.astype({'Locality':'category'})

In [0]:
train_x = train_x.astype({'Locality':'category'})

In [0]:
cat_columns = train_x.select_dtypes(['category']).columns

In [0]:
train_x[cat_columns] = train_x[cat_columns].apply(lambda x: x.cat.codes)

In [0]:
cat_columns_test = test_x.select_dtypes(['category']).columns
test_x[cat_columns_test] = test_x[cat_columns_test].apply(lambda x: x.cat.codes)

In [51]:
test_x.dtypes

Date              int64
Property Type     int64
OldvNew           int64
Duration          int64
Locality          int16
Town              int16
Taluka            int16
District           int8
Price Category    int64
Month             int64
dtype: object

In [52]:
test_x.shape

(2066, 10)

In [0]:
from sklearn.ensemble import GradientBoostingRegressor

In [54]:
grb_model = GradientBoostingRegressor(n_estimators=100, max_depth=8)
grb_model.fit(train_x[:458215], train_y[:458215])

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=8,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
grb_pred = grb_model.predict(test_x)

In [56]:
print(grb_pred[:10])

[190.61021357 281.44736073 128.67578882 208.67064882 255.05321806
 485.44587348 194.40608096 401.88334817 378.92508537 344.82676112]

In [0]:
grb_pred = pd.DataFrame(grb_pred)
grb_pred.columns = ['Price']

In [58]:
grb_pred.head()

        Price
0  190.610214
1  281.447361
2  128.675789
3  208.670649
4  255.053218

In [0]:
grb_pred.to_csv('grb_pred.csv') #if u want keep header=False,index = False